.env
.vscode/

# Ignore data directory (if not a symbolic link)
/data/

# Ignore data directory (if it's a symbolic link)
/data  
output/
__pycache__/
*.pyc


# ignore md file for obsidian
*TSO*.md

# personal planning scratch notes, no longer tracked
/plan_tot2.md